<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Minha Conta</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="power-outline" style="color:white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-account *ngIf="isLoading"></app-loading-account>
  <ion-list *ngIf="!isLoading">
    <ion-item lines="full">
    <ion-button slot="end" fill="clear">Editar</ion-button>
    <ion-label>
      <h4>Cauby Jeth</h4>
      <p>(15) 99722-7211 | caubyjeth13&#64;gmail.com</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none" detail="true">
    <ion-icon name="home-outline" slot="start" color="dark"></ion-icon>
    <h5>Gerenciar Endereços</h5>
  </ion-item>
</ion-list>
      
  <ion-list *ngIf="!isLoading">
    <app-empty-screen [model]="model" *ngIf="!isLoading && (orders?.length == 0)"></app-empty-screen>
    <ion-list-header>
      <ion-label color="primary" *ngIf="!isLoading && (orders?.length > 0)">Últimos Pedidos</ion-label>
    </ion-list-header>
    <app-order-list [orders]="orders"></app-order-list>
  </ion-list>
</ion-content>